.content {
    align-items: center;
    text-align: center;
    margin-top: 6rem;
    border: 3px solid #d6d6d6;
    width: 90%;
    margin-left: 5rem;
    border-radius: 3rem;
}

.title {
    color: rgb(238, 234, 234);
    margin-top: 3rem;
    font-size: 3.2rem;
}

.product-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr); 
    margin-top: 5rem;
    width: 30%;
    border-radius: 2rem;
    text-align: center;}


h3 {
    margin-left: 1rem;  
   align-items: center;
   text-align: center;
   width: 100%;
}

button {
    width: 70%;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-left: 4rem;
}



img{
   width: 90%;
   border-radius: 2rem;
   margin-top: 2rem;    
}

.product-card1 {
    margin-left: 7rem;
    width: 98%;
}

.product-card2 {
    margin-left: 15rem;
    width: 80%;
}

.product-card3 {
    margin-left: 13rem;
    width: 85%;
}

.product-card4 {
    margin-left: 8rem;
    width: 90%;
}

.product-card5 {
    margin-left: 16rem;
    width: 75%;
}

.product-card6 {
    margin-left: 14rem;
    width: 85%;
}



