/* Style for the footer */
footer {
    background-color: #d6d6d6;
    color: #4b3832;
    margin-top: 9rem;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 0.5rem; 
}


.footer-name {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.1rem;
    margin-left: 5rem;
}


.social-links {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5rem;
    margin-top: 1rem;
    gap: 1rem;
}


.social-links img {
    width: 35px;
    cursor: pointer;
}


.social-links img:hover {
    opacity: 0.8;
}
